<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<modules>
			<remove name="Session" />
			<add name="Session" type="System.Web.SessionState.SessionStateModule"/>
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
		<security>
			<requestFiltering>
				<!--   <requestLimits maxAllowedContentLength="1073741824" />-->
			</requestFiltering>
		</security>
		<!-- 
		<rewrite>
			<rules>
				<rule name="HTTPS force" enabled="true" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>
		-->
	</system.webServer>
	<system.net>
		<settings />
	</system.net>
	<connectionStrings>
		<add name="MainConn" providerName="System.Data.SqlClient" connectionString="Server=.\SQLExpress;Database=PartFinder;User ID=PartFinder;Password=xxxxxxxxxxxx" />
	</connectionStrings>
	<system.web>
		<sessionState mode="InProc" timeout="60" cookieless="false" ></sessionState>
		<authentication mode="Forms">
			<forms name=".ASPXAUTH" loginUrl="/login.aspx" path="/" timeout="20160" defaultUrl="/default.aspx" protection="All" requireSSL="false" slidingExpiration="true" cookieless="UseDeviceProfile" domain="" enableCrossAppRedirects="false">
				<credentials passwordFormat="MD5" />
			</forms>
		</authentication>
		<authorization>
			<deny users="?" />
			<allow users="*" />
		</authorization>
		<httpRuntime requestValidationMode="2.0" maxRequestLength="10240" />
		<pages enableSessionState="true" />
		<compilation debug="false" targetFramework="4.0">
		</compilation>
		<globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" uiCulture="en-GB" />
		<customErrors mode="Off" defaultRedirect="/error.aspx?err=Unspecified">
			<error statusCode="404" redirect="/error.aspx" />

			<error statusCode="500" redirect="/error.aspx" />
		</customErrors>

	</system.web>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/x-woff" />
			<remove fileExtension=".svg" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<remove fileExtension=".svgz" />
			<mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<remove fileExtension=".js" />
			<mimeMap fileExtension=".js" mimeType="text/javascript" />
		</staticContent>
		<httpCompression directory="D:\compressedfiles" minFileSizeForComp="4">
			<scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
			<staticTypes>
				<add mimeType="text/*" enabled="true" />
				<add mimeType="message/*" enabled="true" />
				<add mimeType="application/x-javascript" enabled="true" />
				<add mimeType="application/javascript" enabled="true" />
				<add mimeType="text/javascript" enabled="true" />
				<add mimeType="application/atom+xml" enabled="true" />
				<add mimeType="application/xaml+xml" enabled="true" />
				<add mimeType="application/javascript; charset=utf-8" enabled="true" />
				<add mimeType="image/svg+xml" enabled="true" />
			</staticTypes>
			<dynamicTypes>
				<add mimeType="image/svg+xml" enabled="true" />
			</dynamicTypes>
		</httpCompression>



		<caching>
			<profiles>
				<add extension=".js" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="23:00:30" />
				<add extension=".woff" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="23:00:30" />
				<add extension=".css" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="23:00:30" />
				<add extension=".png" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="23:00:30" />
				<add extension=".jpg" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="23:59:59" />
			</profiles>
		</caching>
		<httpErrors>
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" prefixLanguageFilePath="" path="/error.aspx" responseMode="ExecuteURL" />
		</httpErrors>
		<urlCompression doStaticCompression="false" doDynamicCompression="true" />
		<httpProtocol>
			<customHeaders>
				<remove name="Vary" />
				<add name="Vary" value="Accept-Encoding" />
				<remove name="X-Powered-By" />
				<remove name="X-AspNet-Version" />
				<add name="Strict-Transport-Security" value="max-age=31536000" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>

	<location path="setup">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
<location path="barcode">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
</configuration>